* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background: rgb(134, 196, 227);
  background: radial-gradient(
    circle,
    rgba(134, 196, 227, 1) 31%,
    rgba(137, 210, 245, 1) 52%,
    rgba(122, 131, 158, 1) 90%
  );
}

.app {
  text-align: center;
  padding: 20px;
  max-width: 800px;
  margin: auto;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20;
}

.product-card {
  border: 2px solid rgb(31, 31, 119);
  border-radius: 10px;
  background: rgb(72, 72, 78);
  background: linear-gradient(
    90deg,
    rgba(72, 72, 78, 1) 0%,
    rgba(247, 247, 247, 1) 48%,
    rgba(148, 148, 148, 1) 100%
  );
  margin: 5px;
  padding: 20px;
  width: 340px;
  font-size: 1em;
}

.product-card img {
  width: 150px;
  border-radius: 10px;
}
